@font-face {
  font-family: 'Ironclad Bolted';
  src: url('./assets/fonts/ironcbr.ttf');
}

:root {
  --destroyer-width-to-height: calc(20 / 100);
  --submarine-width-to-height: calc(35 / 142);
  --cruiser-width-to-height: calc(23 / 128);
  --battleship-width-to-height: calc(31 / 209);
}

body.landing-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Black Ops One", system-ui;
  /* font-family: "Noto Sans", sans-serif; */
  gap: 5rem;
}

div#battleship-banner {
  font-family: 'Ironclad Bolted';
  font-size: 6rem;
  margin-top: 3rem;
}

div#player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

div#player-info > div {
  /* font-family: "Black Ops One", system-ui; */
  font-size: 1.3rem;
}

input#player-name {
  height: 6rem;
  width: 30vw;
  font-family: "Black Ops One", system-ui;
  font-size: 4.4rem;
  text-align: center;
}

/* input#player-name:focus:user-invalid::after {
  content: "Player name must: \A -Contain only upper or lower case letter. \A -Have a length that ranges between 3 and 12 characters";
  color: white;
  background-color: red;
} */

div#start-game > button {
  background-color: aliceblue;
  font-family: "Black Ops One", system-ui;
  font-size: 2rem;
  height: 3rem;
  width: 15vw;
}

div#start-game > button.valid {
  border-color: lawngreen;
  color: lawngreen;
}



body.board-setup {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Black Ops One", system-ui;
  /* font-family: "Noto Sans", sans-serif; */
  gap: 5rem;
  --square-side-length: 36.8px;
  overflow: hidden;
}

/* body.board-setup.destroyer {
  cursor: url("./assets/sprites/Destroyer/ShipDestroyerHull.png"), auto;
  height: calc(var(--square-side-length) * 2);
} */

img.cursor-destroyer {
  position: absolute;
  height: calc(var(--square-side-length) * 2);
  pointer-events: none;
  cursor: none;
}

img.cursor-destroyer.horizontal {
  position: absolute;
  width: calc(var(--square-side-length) * 2);
  height: calc(calc(var(--square-side-length) * 2) * var(--destroyer-width-to-height));
  pointer-events: none;
  cursor: none;
}

img.cursor-submarine {
  position: absolute;
  height: calc(var(--square-side-length) * 3);
  pointer-events: none;
  cursor: none;
}

img.cursor-submarine.horizontal {
  position: absolute;
  width: calc(var(--square-side-length) * 3);
  height: calc(calc(var(--square-side-length) * 3) * var(--submarine-width-to-height));
  pointer-events: none;
  cursor: none;
}

img.cursor-cruiser {
  position: absolute;
  height: calc(var(--square-side-length) * 3);
  pointer-events: none;
  cursor: none;
}

img.cursor-cruiser.horizontal {
  position: absolute;
  width: calc(var(--square-side-length) * 3);
  height: calc(calc(var(--square-side-length) * 3) * var(--cruiser-width-to-height));
  pointer-events: none;
  cursor: none;
}

img.cursor-battleship {
  position: absolute;
  height: calc(var(--square-side-length) * 4);
  pointer-events: none;
  cursor: none;
}

img.cursor-battleship.horizontal {
  position: absolute;
  width: calc(var(--square-side-length) * 4);
  height: calc(calc(var(--square-side-length) * 4) * var(--battleship-width-to-height));
  pointer-events: none;
  cursor: none;
}

img.cursor-carrier {
  position: absolute;
  height: calc(var(--square-side-length) * 4.9);
  width: var(--square-side-length);
  pointer-events: none;
  cursor: none;
}

img.cursor-carrier.horizontal {
  position: absolute;
  width: calc(var(--square-side-length) * 4.9);
  height: var(--square-side-length);
  pointer-events: none;
  cursor: none;
}

div#board-setup-header {
  font-size: 3rem;
}

div#board-setup-area {
  display: flex;
  gap: 10rem;
  align-items: center;
}

div#quay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

div#quay-container > div:nth-child(1),
div#quay-container > div:nth-child(3) {
  width: calc(var(--square-side-length) * 10);
  text-align: center;
}

div#quay-container > div:nth-child(3) > img {
  height: 1.5rem;
  vertical-align: bottom;
}

div#quay {
  display: grid;
  grid-template-columns: repeat(5, 2.3rem);
  grid-template-rows: repeat(5, 2.3rem);
  /* background-image: url(./assets/SVGs/oceanseamless-02.svg);
  background-size: cover; */
  background-color: teal;
}

div#quay > div {
  border: 1px solid aliceblue;
  display: grid;
  place-items: center;
}

div#quay > div:hover {
  background-color: rgba(127 255 212 / 0.5);
  cursor: grab;
}

div#quay > div:nth-child(1) > img {
  height: calc(var(--square-side-length) * 2);
}

div#quay > div:nth-child(2) > img {
  height: calc(var(--square-side-length) * 3);
}

div#quay > div:nth-child(3) > img {
  height: calc(var(--square-side-length) * 3);
}

div#quay > div:nth-child(4) > img {
  height: calc(var(--square-side-length) * 4);
}

div#quay > div:nth-child(5) > img {
  height: calc(var(--square-side-length) * 4.9);
  width: var(--square-side-length);
}

div.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 2.3rem);
  grid-template-rows: repeat(11, 2.3rem);
  background-image: url(./assets/SVGs/vecteezy_simple-abstract-dark-sea-green-color-halftone-blend-wavy_54761691.svg);
  background-size: cover;
}

div.gameboard > div {
  border: 1px solid aliceblue;
}

div.gameboard > div:not(.letters):not(.numbers) {
  display: grid;
  place-items: center;
}

div.gameboard > div.vertical.destroyer > img {
  height: calc(var(--square-side-length) * 2);
}

div.gameboard > div.horizontal.destroyer > img {
  width: calc(var(--square-side-length) * 2);
  height: calc(calc(var(--square-side-length) * 2) * var(--destroyer-width-to-height));
}

div.gameboard > div.vertical.submarine > img {
  height: calc(var(--square-side-length) * 3);
}

div.gameboard > div.horizontal.submarine > img {
  width: calc(var(--square-side-length) * 3);
  height: calc(calc(var(--square-side-length) * 3) * var(--submarine-width-to-height));
}

div.gameboard > div.vertical.cruiser > img {
  height: calc(var(--square-side-length) * 3);
}

div.gameboard > div.horizontal.cruiser > img {
  width: calc(var(--square-side-length) * 3);
  height: calc(calc(var(--square-side-length) * 3) * var(--cruiser-width-to-height));
}

div.gameboard > div.vertical.battleship > img {
  height: calc(var(--square-side-length) * 4);
}

div.gameboard > div.horizontal.battleship > img {
  width: calc(var(--square-side-length) * 4);
  height: calc(calc(var(--square-side-length) * 4) * var(--battleship-width-to-height));
}

div.gameboard > div.vertical.carrier > img {
  height: calc(var(--square-side-length) * 4.9);
  width: var(--square-side-length);
}

div.gameboard > div.horizontal.carrier > img {
  width: calc(var(--square-side-length) * 4.9);
  height: var(--square-side-length);
}

div.gameboard > div:hover {
  background-color: rgba(127 255 212 / 0.5);
}

div.gameboard > div.letters,
div.gameboard > div.numbers {
  background-color: white;
  border-color: white;
}

div.gameboard > div.letters {
  grid-column: span 11;
  display: grid;
  grid-template-columns: repeat(11, 2.3rem);
  place-items: center;
}

div.gameboard > div.numbers {
  grid-row: span 10;
  display: grid;
  grid-template-rows: repeat(10, 2.3rem);
  place-items: center;
}

div#fight > button {
  background-color: aliceblue;
  font-family: "Black Ops One", system-ui;
  font-size: 2rem;
  height: 3rem;
  width: 10vw;
}

div#fight > button.valid {
  border-color: lawngreen;
  color: lawngreen;
}



body.arena {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Black Ops One", system-ui;
  /* font-family: "Noto Sans", sans-serif; */
  gap: 5rem;
}

div#arena-header > div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 2rem;
  position: relative;
}

div#arena-header > div > div:nth-child(1) {
  position: absolute;
  left: -10vw;
}

div#arena-header > div > div:nth-child(3) {
  position: absolute;
  left: 10vw;
}

div#arena-header > div > div.center {
  margin: auto;
  font-size: 4rem;
}

div#arena-gameboards {
  display: flex;
  gap: 5rem;
}

div.gameboard:nth-child(2) > div.hidden {
  background-color: black;
}