@font-face {
  font-family: 'Ironclad Bolted';
  src: url('./assets/fonts/ironcbr.ttf');
}

body.landing-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Black Ops One", system-ui;
  /* font-family: "Noto Sans", sans-serif; */
  gap: 5rem;
}

div#battleship-banner {
  font-family: 'Ironclad Bolted';
  font-size: 6rem;
  margin-top: 3rem;
}

div#player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

div#player-info > div {
  /* font-family: "Black Ops One", system-ui; */
  font-size: 1.3rem;
}

input#player-name {
  height: 6rem;
  width: 30vw;
  font-family: "Black Ops One", system-ui;
  font-size: 4.4rem;
  text-align: center;
}

div#start-game > button {
  background-color: aliceblue;
  font-family: "Black Ops One", system-ui;
  font-size: 2rem;
  height: 3rem;
  width: 15vw;
}



body.board-setup {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Black Ops One", system-ui;
  /* font-family: "Noto Sans", sans-serif; */
  gap: 5rem;
}

div#board-setup-header {
  font-size: 3rem;
}

div#board-setup-area {
  display: flex;
  gap: 10rem;
  align-items: center;
  --square-side-length: 36.8px
}

div#quay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

div#quay-container > div:nth-child(1),
div#quay-container > div:nth-child(3) {
  width: calc(var(--square-side-length) * 10);
  text-align: center;
}

div#quay-container > div:nth-child(3) > img {
  height: 1.5rem;
  vertical-align: bottom;
}

div#quay {
  display: grid;
  grid-template-columns: repeat(5, 2.3rem);
  grid-template-rows: repeat(5, 2.3rem);
  /* background-image: url(./assets/SVGs/oceanseamless-02.svg);
  background-size: cover; */
  background-color: teal;
}

div#quay > div {
  border: 1px solid aliceblue;
  display: grid;
  place-items: center;
}
div#quay > div:nth-child(1) > img {
  height: calc(var(--square-side-length) * 2);
}

div#quay > div:nth-child(2) > img {
  height: calc(var(--square-side-length) * 3);
}

div#quay > div:nth-child(3) > img {
  height: calc(var(--square-side-length) * 3);
}

div#quay > div:nth-child(4) > img {
  height: calc(var(--square-side-length) * 4);
}

div#quay > div:nth-child(5) > img {
  height: calc(var(--square-side-length) * 4.9);
  width: var(--square-side-length);
}

div.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 2.3rem);
  grid-template-rows: repeat(11, 2.3rem);
  background-image: url(./assets/SVGs/vecteezy_simple-abstract-dark-sea-green-color-halftone-blend-wavy_54761691.svg);
  background-size: cover;
}

div.gameboard > div {
  border: 1px solid aliceblue;
}

div.gameboard > div.letters,
div.gameboard > div.numbers {
  background-color: white;
  border-color: white;
}

div.gameboard > div.letters {
  grid-column: span 11;
  display: grid;
  grid-template-columns: repeat(11, 2.3rem);
  place-items: center;
}

div.gameboard > div.numbers {
  grid-row: span 10;
  display: grid;
  grid-template-rows: repeat(10, 2.3rem);
  place-items: center;
}

div#fight > button {
  background-color: aliceblue;
  font-family: "Black Ops One", system-ui;
  font-size: 2rem;
  height: 3rem;
  width: 10vw;
}



body.arena {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Black Ops One", system-ui;
  /* font-family: "Noto Sans", sans-serif; */
  gap: 5rem;
}

div#arena-header > div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 2rem;
  position: relative;
}

div#arena-header > div > div:nth-child(1) {
  position: absolute;
  left: -10vw;
}

div#arena-header > div > div:nth-child(3) {
  position: absolute;
  left: 10vw;
}

div#arena-header > div > div.center {
  margin: auto;
  font-size: 4rem;
}

div#arena-gameboards {
  display: flex;
  gap: 5rem;
}

div.gameboard:nth-child(2) > div.hidden {
  background-color: black;
}